<!DOCTYPE html>
<html>
<head>
  <title>ThinkScheme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!--Calls the folder to load the snippet-->
<%= render '/layouts/nav' %>

<!--Creates a margin away from both end-->
<div class="container">
  <%= yield %>
</div>

</body>
</html>
